*{
    margin: 0%;
    padding: 0%;
    border: 0;
}

.cuerpo{
    background-color: black;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;  /*Con esto centramos todo verticalmente*/
    /* justify-content: center; Con esto centramos todo horizontalmente */
    flex-direction: row;
}

.navBar{
    margin-left: auto;  
    order: 2;
    /* max-width: 15%;
    min-width: 10%; */
}

.navBar ul {
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
    list-style-type: none;
    overflow: hidden;
}

.navBar li{
    background-color: orange;
}

.navBar li  a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 25px 0px 25px 0px;
}

.navBar li a span{
    visibility: hidden;
    font-size: 25px;
}

.navBar li a:hover span{
    visibility: visible;
}

.navBar li a:hover{
    background-color: black;
}

.content{
    margin: auto;
    overflow: scroll;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    order: 1;
    border-radius: 30px;
    background-color:  orange ;
    width: 80%;
    height: 70%;
    padding: 2% 2% 2% 2%;
 
    align-items: center;
}

@media (max-width: 800px) {
    .cuerpo{
        flex-direction: column;
    }
    .content{
        flex-direction: column;
    }

    .navBar ul{
        flex-direction: row;
        border-radius: 20px 20px 0 0;
    }

    .navBar {
        align-self: center;
        margin-left: 0%;
        /* max-width: 15%;
        min-width: 10%; */
    }
}

.content .foto{
    float: left;
    /* width: 30%;
    margin: 5px; */
}

.content .foto img{
    width: 100%;
    height: auto;
    margin-top: 10%;
}

.content .description{
    float: right;
    width: 60%;
    display: flex;
    flex-direction: column;

}

.content h1{
    font-size: 200%;
    text-align: center;
}

.content p{

}

.buttons{
    display: flex;
    justify-content: center;
}

.description button{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid black;
    background-color: red;
    color: white;
    margin: 10px;
}
.description contact{

}